<div class="users-back">
  <div class="users-container">
    <div class="form-heading">Signup</div>
      <div class="form">
        <div class="form-body">
          <%= form_with model: @user, url: "/create", local: true do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, 'JP Online account (email)' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :instagram, 'Your instagram account' %>
              <%= f.text_field :instagram, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :country, "Country where your'e living in Now" %>
              <%= f.text_field :country, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :time_zone, "Select your place's time zone" %>
              <br><%= f.time_zone_select :time_zone  %>
            </div>
            <br><div class="form-group">
              <%= f.label :password, 'password' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, 'password(confirm)' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <%= f.submit "Create new account", data: {confirm: "Please confirm your information again. If you're information is fine, please press [OK]. You can change your information at any time. But [timezome] is very improtant to book your lesson. So please select carefully. "} %>
         <% end %>
        </div>
        <div class="form users-form">
          <h4>If you have JP Online account, please login for <%= link_to("this page", "/login") %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
