<p id="notice"><%= notice %></p>

<div class="students-schedule">
  <h2>Lesson schedule (Trial)</h2>
  <div class="lesson-calendar">
  <%= month_calendar events:  @lessons do |date, lessons| %>
    <%= date.day %>

    <% lessons.each do |lesson| %>
      <div>
        <% if lesson.user_name == nil %>
          <%= link_to(lesson.start_time.strftime("%H:%M"), "/lessons/#{lesson.id}/trial_booking", {class: "calendar-schedule"}) %>
        <% else %>
          <p class="calendar-schedule-booked"><%= lesson.start_time.strftime("%H:%M") %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>    
</div>
